USE [pract15]
GO
ALTER TABLE [dbo].[products$] DROP CONSTRAINT [FK_products$_categories$]
GO
ALTER TABLE [dbo].[products$] DROP CONSTRAINT [FK_products$_brands$]
GO
ALTER TABLE [dbo].[product_tags$] DROP CONSTRAINT [FK_product_tags$_tags$]
GO
ALTER TABLE [dbo].[product_tags$] DROP CONSTRAINT [FK_product_tags$_products$]
GO
/****** Object:  Table [dbo].[tags$]    Script Date: 23.12.2025 11:55:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tags$]') AND type in (N'U'))
DROP TABLE [dbo].[tags$]
GO
/****** Object:  Table [dbo].[products$]    Script Date: 23.12.2025 11:55:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[products$]') AND type in (N'U'))
DROP TABLE [dbo].[products$]
GO
/****** Object:  Table [dbo].[product_tags$]    Script Date: 23.12.2025 11:55:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[product_tags$]') AND type in (N'U'))
DROP TABLE [dbo].[product_tags$]
GO
/****** Object:  Table [dbo].[categories$]    Script Date: 23.12.2025 11:55:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[categories$]') AND type in (N'U'))
DROP TABLE [dbo].[categories$]
GO
/****** Object:  Table [dbo].[brands$]    Script Date: 23.12.2025 11:55:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[brands$]') AND type in (N'U'))
DROP TABLE [dbo].[brands$]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 23.12.2025 11:55:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__EFMigrationsHistory]
GO
USE [master]
GO
/****** Object:  Database [pract15]    Script Date: 23.12.2025 11:55:17 ******/
DROP DATABASE [pract15]
GO
/****** Object:  Database [pract15]    Script Date: 23.12.2025 11:55:17 ******/
CREATE DATABASE [pract15]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pract15', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\pract15.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pract15_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\pract15_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pract15].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pract15]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 23.12.2025 11:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brands$]    Script Date: 23.12.2025 11:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brands$](
	[name] [nvarchar](255) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_brands$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories$]    Script Date: 23.12.2025 11:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories$](
	[name] [nvarchar](255) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_categories$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_tags$]    Script Date: 23.12.2025 11:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_tags$](
	[product_id] [int] NULL,
	[tag_id] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__product___3213E83F8C27F16F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products$]    Script Date: 23.12.2025 11:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products$](
	[name] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[price] [float] NULL,
	[stock] [float] NULL,
	[rating] [float] NULL,
	[created_at] [nvarchar](255) NULL,
	[category_id] [int] NULL,
	[brand_id] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_products$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tags$]    Script Date: 23.12.2025 11:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tags$](
	[name] [nvarchar](255) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_tags$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[brands$] ON 

INSERT [dbo].[brands$] ([name], [id]) VALUES (N'Samsung', 2)
INSERT [dbo].[brands$] ([name], [id]) VALUES (N'Apple', 3)
INSERT [dbo].[brands$] ([name], [id]) VALUES (N'Sony', 4)
SET IDENTITY_INSERT [dbo].[brands$] OFF
GO
SET IDENTITY_INSERT [dbo].[categories$] ON 

INSERT [dbo].[categories$] ([name], [id]) VALUES (N'Smartphones', 2)
INSERT [dbo].[categories$] ([name], [id]) VALUES (N'Laptops', 3)
INSERT [dbo].[categories$] ([name], [id]) VALUES (N'Accessories', 4)
SET IDENTITY_INSERT [dbo].[categories$] OFF
GO
SET IDENTITY_INSERT [dbo].[product_tags$] ON 

INSERT [dbo].[product_tags$] ([product_id], [tag_id], [id]) VALUES (2, 5, 4)
INSERT [dbo].[product_tags$] ([product_id], [tag_id], [id]) VALUES (2, 3, 5)
INSERT [dbo].[product_tags$] ([product_id], [tag_id], [id]) VALUES (3, 5, 6)
GO
SET IDENTITY_INSERT [dbo].[product_tags$] OFF
GO
SET IDENTITY_INSERT [dbo].[products$] ON 

INSERT [dbo].[products$] ([name], [description], [price], [stock], [rating], [created_at], [category_id], [brand_id], [id]) VALUES (N'Logitech MX Master 3', N'Latest-generation technology', 167.56, 307, 4.4, N'2024-07-11', 3, 5, 2)
INSERT [dbo].[products$] ([name], [description], [price], [stock], [rating], [created_at], [category_id], [brand_id], [id]) VALUES (N'Lenovo Tab P12', N'High-performance device', 2659.51, 238, 1.8, N'2024-03-06', 4, 3, 3)
INSERT [dbo].[products$] ([name], [description], [price], [stock], [rating], [created_at], [category_id], [brand_id], [id]) VALUES (N'TCL 6-Series 55', N'High-performance device', 1563.33, 499, 4.6, N'2023-11-05', 5, 2, 4)
GO
SET IDENTITY_INSERT [dbo].[products$] OFF
GO
SET IDENTITY_INSERT [dbo].[tags$] ON 

INSERT [dbo].[tags$] ([name], [id]) VALUES (N'New', 2)
INSERT [dbo].[tags$] ([name], [id]) VALUES (N'Popular', 3)
INSERT [dbo].[tags$] ([name], [id]) VALUES (N'Discount', 4)
SET IDENTITY_INSERT [dbo].[tags$] OFF
GO
ALTER TABLE [dbo].[product_tags$]  WITH CHECK ADD  CONSTRAINT [FK_product_tags$_products$] FOREIGN KEY([product_id])
REFERENCES [dbo].[products$] ([id])
GO
ALTER TABLE [dbo].[product_tags$] CHECK CONSTRAINT [FK_product_tags$_products$]
GO
ALTER TABLE [dbo].[product_tags$]  WITH CHECK ADD  CONSTRAINT [FK_product_tags$_tags$] FOREIGN KEY([tag_id])
REFERENCES [dbo].[tags$] ([id])
GO
ALTER TABLE [dbo].[product_tags$] CHECK CONSTRAINT [FK_product_tags$_tags$]
GO
ALTER TABLE [dbo].[products$]  WITH CHECK ADD  CONSTRAINT [FK_products$_brands$] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brands$] ([id])
GO
ALTER TABLE [dbo].[products$] CHECK CONSTRAINT [FK_products$_brands$]
GO
ALTER TABLE [dbo].[products$]  WITH CHECK ADD  CONSTRAINT [FK_products$_categories$] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories$] ([id])
GO
ALTER TABLE [dbo].[products$] CHECK CONSTRAINT [FK_products$_categories$]
GO
USE [master]
GO
